h1{
	
	font-family:Impact;
	font-size:55px;
	text-align:center;
}
h2 {
	font-size:30px;
}
h3{
	font-size:30px;
}

body{
	color:black;
	
}
h4 {
	font-size:30px;
}
* {
	background-color:blue;
	text-align:center;
}